@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  --color-blue: hsl(248, 32%, 49%);
  --color-Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
* body {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--color-red);
  background-image: url(./images/bg-intro-desktop.png);
}
* body .main-container {
  display: flex;
}
* body .main-container .text-section {
  margin-top: 3em;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  align-content: center;
}
* body .main-container .text-section .title-desc {
  font-size: 16px;
  margin-top: 20px;
}
* body .main-container .main-section {
  padding: 1.5em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
* body .main-container .main-section .premium {
  font-size: 15px;
  color: white;
  padding: 1em 3em;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--color-blue);
  box-shadow: 0px 5px 0px 0 rgba(77, 77, 77, 0.509);
  margin-bottom: 20px;
}
* body .main-container .main-section .premium .try {
  font-weight: bold;
}
* body .main-container .main-section .input-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
* body .main-container .main-section .input-form .fn-section,
* body .main-container .main-section .input-form .ln-section,
* body .main-container .main-section .input-form .email-section,
* body .main-container .main-section .input-form .password-section {
  align-items: center;
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
}
* body .main-container .main-section .input-form .fn-section img,
* body .main-container .main-section .input-form .ln-section img,
* body .main-container .main-section .input-form .email-section img,
* body .main-container .main-section .input-form .password-section img {
  position: absolute;
  left: 85%;
  transform: translateY(62%);
  width: 24px;
  height: 24px;
}
* body .main-container .main-section .input-form input {
  display: flex;
  font-weight: bold;
  border: 1px solid var(--Grayish-blue);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 90%;
}
* body .main-container .main-section .input-form span {
  text-align: end;
  margin-right: 10px;
  margin-bottom: 10px;
}
* body .main-container .main-section .input-form button {
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border: none;
  background-color: var(--color-green);
}
* body .main-container .main-section .input-form .agreeing-section {
  color: var(--Grayish-blue);
  font-size: 0.8em;
  padding: 10px;
}
* body .main-container .main-section .input-form .agreeing-section span {
  color: var(--color-red);
}

@media screen and (max-width: 650px) {
  .main-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .text-section {
    margin-top: 5em;
    justify-content: center;
    margin-bottom: 20px;
  }
}
.text-danger {
  color: red;
  font-size: 10px;
  font-style: italic;
}

.text-success {
  color: rgb(117, 195, 0);
  font-size: 10px;
  font-style: italic;
}

.d-none {
  display: none;
}/*# sourceMappingURL=style.css.map */