@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  --color-blue: hsl(248, 32%, 49%);
  --color-Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  body {
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-red);
    background-image: url(./images/bg-intro-desktop.png);
    .main-container {
      display: flex;
      .text-section {
        margin-top: 3em;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        align-content: center;
        .title-desc {
          font-size: 16px;
          margin-top: 20px;
        }
      }
      .main-section {
        // scale: 0.8;
        padding: 1.5em;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        .premium {
          font-size: 15px;
          color: white;
          padding: 1em 3em;
          width: 100%;
          border: none;
          border-radius: 5px;
          background-color: var(--color-blue);
          box-shadow: 0px 5px 0px 0 rgba(77, 77, 77, 0.509);
          margin-bottom: 20px;
          .try {
            font-weight: bold;
          }
        }

        .input-form {
          display: flex;
          justify-content: center;
          flex-direction: column;
          background-color: white;
          border-radius: 10px;

          .fn-section,
          .ln-section,
          .email-section,
          .password-section {
            // margin-bottom: -40px;
            // width: 100%;
            align-items: center;
            display: flex;
            position: relative;
            display: flex;
            flex-direction: column;
            img {
              position: absolute;
              left: 86%;
              transform: translateY(62%);

              width: 24px;
              height: 24px;
              // display: ;
            }
            .hide-button {
              position: absolute;
              left: 86%;
              transform: translateY(62%);
            }
          }

          // flex-direction: column;
          padding: 20px;
          input {
            display: flex;
            font-weight: bold;
            border: 1px solid var(--Grayish-blue);
            border-radius: 5px;
            padding: 10px;
            margin: 5px;
            width: 90%;
          }
          //
          span {
            text-align: end;
            // margin-top: -40px;
            margin-right: 10px;
            margin-bottom: 10px;
          }
          button {
            color: white;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            border: none;
            background-color: var(--color-green);
          }
          .agreeing-section {
            color: var(--Grayish-blue);
            font-size: 0.8em;
            padding: 10px;
            span {
              color: var(--color-red);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .main-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .text-section {
    margin-top: 5em;
    justify-content: center;
    margin-bottom: 20px;
  }
  // img {
  //   transform: translateY(-4.3rem);
  // }
}

.text-danger {
  color: red;
  font-size: 10px;
  font-style: italic;
}

.text-success {
  color: rgb(117, 195, 0);
  font-size: 10px;
  font-style: italic;
}

.d-none {
  display: none;
}
